<div class="cart">
  {{#each shoppingCart.products as |product|}}
    <div class="cart-product">
      {{product.name}}--{{product.cost}}
      <button {{action 'removeProduct' product}}>Remove</button>
    </div>
  {{/each}}
  <button {{action 'empty' product}}>Clear Cart</button>
  <hr>
  Total: Ksh.{{shoppingCart.total}}
  </div>
