<div class="cart">
  {{#each shoppingCart.products as |product|}}
    <div class="cart-product">
      {{product.name}}--{{product.cost}}
      <button {{action 'removeProduct' product}}>Remove</button>
    </div>
  {{/each}}
<<<<<<< HEAD
  <button {{action 'empty' product}}>Clear Cart</button>
  <hr>
  Total: Ksh.{{shoppingCart.total}}
  </div>
=======
</div>
>>>>>>> dc39de4a64896411e8930d62a5f1caf57c60455a
