<img src={{product.image}} alt={{product.name}}>


{{product.name}}
{{product.description}}
{{product.manufacturer}}
{{product.cost}}

{{update-product product=product update="update"}}

<button {{action 'delete' product}}>Delete Product</button>

<hr>
