<<<<<<< HEAD
<h2> {{model.name}}
  {{model.description}} manufactured in {{model.manufacturer}}
   going for <img src="{{model.image}}" alt="{{model.image}}"> {{model.cost}}</h2>

=======
<p><strong> Name:</strong>{{product.name}}</p>
<hr>
<img src={{product.image}} alt={{product.name}} ><br>
<p><strong>Description: </strong> {{product.description}}</p><br>
<p><strong>Cost:</strong> {{product.cost}}</p>

<hr>
>>>>>>> dc39de4a64896411e8930d62a5f1caf57c60455a
<h2>Reviews</h2>
<ul>
  {{#each sortedReviews as |review|}}
    {{review-tile review=review destroyReview="destroyReview"}}
  {{/each}}
</ul>

<button {{action 'addToCart' product}}>Add to Cart</button>
<br>
<button {{action 'delete' product}}>Delete Product</button>

{{display-cart}}
