{{#if updateProductForm}}

<h1>Update {{product.manufacturer}} {{product.cost}}</h1>
<div>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      {{input value=name id="name" placeholder=product.name}}
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      {{input value=description id="description" placeholder=product.description}}
    </div>
    <div class="form-group">
      <label for="manufacturer">Manufacturer:</label>
      {{input value=manufacturer id="manufacturer" placeholder=product.manufacturer}}
    </div>
    <div class="form-group">
      <label for="image">Image URL:</label>
      {{input value=image id="Image" placeholder=product.image}}
    </div>
    <div class="form-group">
      <label for="cost">Cost:</label>
      {{input value=cost id="cost" placeholder=product.cost}}
    </div>
<button {{action 'update' product}}>Save</button>
  </form>
</div>

{{else}}
<button {{action 'updateProductForm'}}>Update Product</button>
{{/if}}
