<h1> Welcome to E-Security</h1>

<p>Your security is our priority.
   We gat all your security needs!</p>

<h2>For all of your Security Needs</h2>
<hr>

<ul>
  {{#each model.products as |product|}}
 {{product-tile product=product}}
  {{/each}}
</ul>

{{new-product saveProduct2="saveProduct3"}}

<h2>All Reviews</h2>

<ul>
  {{#each model.reviews as |review|}}
    <li>{{review.rating}} {{review.content}} by {{review.author}}</li>
  {{/each}}
</ul>


{{#link-to 'contact'}}Contact Us.{{/link-to}}
{{#link-to 'about'}}About.{{/link-to}}
