<<<<<<< HEAD
<h2>More information about {{model.name}} {{model.description}} manufactured in {{model.manufacturer}} going for <img src="{{model.image}}" alt="{{model.image}}"> {{model.cost}}</h2>
=======

>>>>>>> dc39de4a64896411e8930d62a5f1caf57c60455a

{{product-detail product=model destroyProduct="destroyProduct" destroyReview="destroyReview"}}

{{update-product product=model update="update"}}

{{new-review saveReview="saveReview" product=model}}
