<h2>More information about {{model.name}} {{model.description}} manufactured in {{model.manufacturer}} going for <img src="{{model.image}}" alt="{{model.image}}"> {{model.cost}}</h2>

{{product-detail product=model}}
